<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
<!--insertFromJNDI env-entry-name="java:comp/env/ENV" as="ENV" />
<insertFromJNDI env-entry-name="java:comp/env/PINT.logdir" as="PINT.logdir" /-->

<!--property resource="${ENV}.properties"/-->

    <!-- WARN or higher goes to STDOUT -->
<!--appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <layout class="ch.qos.logback.classic.PatternLayout">
	<Pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  </layout>
</appender-->

<appender name="rollingLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>${PINT.logdir}/pint.log</file>
  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	  <Pattern>>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  </encoder>

  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	  <fileNamePattern>${PINT.logdir}/pint.%d{yyyy-MM-dd}.%i.gz
	  </fileNamePattern>
	  <timeBasedFileNamingAndTriggeringPolicy
		  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		  <maxFileSize>100MB</maxFileSize>
	  </timeBasedFileNamingAndTriggeringPolicy>
	  <maxHistory>10</maxHistory>
  </rollingPolicy>
</appender>

<!--appender name="emailNotifier" class="ch.qos.logback.classic.net.SMTPAppender">
  <smtpHost>mailhost.pimco.imswest.sscims.com</smtpHost>
  <to>amit.handa2@pimco.com</to>
  <from>TOPAZ-dev@pimco.com</from>
  <subject>${ENV}: %logger{20} - %m</subject>
  <layout class="ch.qos.logback.classic.PatternLayout">
	<pattern>Log Directory: ${PINT.logdir}%n %date %-5level %logger{35} - %message%n</pattern>
  </layout>

  <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
	<bufferSize>1</bufferSize>
  </cyclicBufferTracker>
</appender-->

<root level="INFO">
  <!--appender-ref ref="STDOUT" />
  <appender-ref ref="emailNotifier" /-->
  <appender-ref ref="rollingLogger" />
</root>

  <logger name="com.ahanda.techops.noty" level="DEBUG" />
  <logger name="org.vertx.java" level="DEBUG" />
  <logger name="io.netty" level="DEBUG" />
</configuration>
