<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
<!--insertFromJNDI env-entry-name="java:comp/env/ENV" as="ENV" />
<insertFromJNDI env-entry-name="java:comp/env/PINT.logdir" as="PINT.logdir" /-->

<property file="${PINT.conf}"/>

<!-- WARN or higher goes to STDOUT -->
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <layout class="ch.qos.logback.classic.PatternLayout">
	<Pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  </layout>
</appender>

<appender name="rollingLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>${logdir}/pint.log</file>
  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	  <Pattern>>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  </encoder>

  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	  <fileNamePattern>${logdir}/pint.%d{yyyy-MM-dd}.%i.gz
	  </fileNamePattern>
	  <timeBasedFileNamingAndTriggeringPolicy
		  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		  <maxFileSize>100MB</maxFileSize>
	  </timeBasedFileNamingAndTriggeringPolicy>
	  <maxHistory>10</maxHistory>
  </rollingPolicy>
</appender>

<root level="INFO">
  <appender-ref ref="STDOUT" />
  <appender-ref ref="rollingLogger" />
</root>

  <logger name="com.ahanda.techops.noty" level="DEBUG" />
  <logger name="io.netty" level="DEBUG" />
</configuration>
